{% extends 'shop/base.html' %}
{% load static %}
{% block title%}
Product
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row mt-5">
        <div class="col-10 mx-auto col-md-6 my-3">
            <img src="{% static 'images/teddy.png' %}">

        </div>

    </div>
</div>
<div class="col-10 mx-auto col-md-6 my-3">
    <div>
        <h1 class="product_title">Teddy Bear</h1>
        <h5 class="text-info font-italic mb-4">
						$9.99

        </h5>
        <p class="product_desc">Product Description</p>
        <p class="text-justify product_text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое
            время послужили публикация листов Letraset с
            образцами Lorem Ipsum в 60-х годах и,
            в более недавнее время, программы электронной вёрстки типа Aldus
            PageMaker, в шаблонах которых используется Lorem Ipsum</p>
        <p class="text-justify product_text">Out Of Stock</p>
    </div>
<div/>
{% endblock %}
